{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block headhtml %}
<!-- D3 and Plotly -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
{% block content %}
<h1 class="cover-heading">Main page.</h1>
<p class="lead">WIP Display map.</p>
<div style="max-width: 100%; margin: auto;" id="usa-states-map" class="js-plotly-plot"></div>

{% endblock %}
{% block bodyhtml %}
<!-- d3 JavaScript -->
<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>

<!-- jquery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Our JS -->
<script type="text/javascript" src="/static/js/States.js"></script>
<script type="text/javascript" src="/static/js/StatesData.js"></script>
<script type="text/javascript" src="/static/js/PlotlyUnitedStates.js"></script>

{% endblock %}